Host bsoe
  HostName ssh.soe.ucsc.edu
  User nilay
  IdentityFile ~/.ssh/id_rsa

Host nlp
  HostName nlp-gpu-01
  ProxyCommand ssh nilay@bsoe nc %h %p 2> /dev/null
  User nilay
  IdentityFile ~/.ssh/id_rsa

Host nlp2
  HostName nlp-gpu-02
  ProxyCommand ssh nilay@bsoe nc %h %p 2> /dev/null
  User nilay
  IdentityFile ~/.ssh/id_rsa
